ENVIRONMENT=production
SECRET_KEY=o6oY0TN+hT7GOzhaUOioddUN0f2bpgMei/Tk+KVSdR5dpq1keM3WTu1YGHJ7An+T
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ADMIN_OWNER_EMAIL=owner@example.com
ADMIN_ACCESS_KEY=tp6K4NYqVSV7xEHUM4zRPMal0dos74RXgJRcut3R8KWB6Bcdrc7u/sLN81DZ/9xq
CORS_ORIGINS=https://your-domain.com
DATABASE_PATH=academy.db